.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
       
}
.heading-login{
    width: 500px;
}
.button-image{
    display: flex;
    justify-content:space-around;
}

.button-image button{
    width : 400px
}

p {
    color: red;
   }
h2 {
    overflow: hidden;
    text-align: center;
    }
h2:before,
h2:after {
    background-color: rgb(223, 215, 215);
    content: "";
    display: inline-block;
    height: 1px;
    position: relative;
    vertical-align: middle;
    width: 50%;
    }
h2:before {
    right: 0.5em;
    margin-left: -50%;
    }
h2:after {
    left: 0.5em;
    margin-right: -50%;
    }
.github-logo{
    display: block;
    border: 1px solid gray;
    background-color: rgb(241, 241, 241);
    width: 40px;
    height: 40px;
    padding: 10px;
 }

.partition{
    color:lightgray;
    font-weight: lighter;
    font-style: normal;
}

.form{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    font-size: 10px;
    font-weight: bold;
}   
.inpit-label{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: #333;
    margin-top: 10px;
    margin-left: 5px;
    text-align: right;
  }
 .form  input{
    width: 500px;
    padding: 10px 22px;
    margin: 10px 0px;
    box-sizing: border-box;
    border: 2px solid #f8f0f4;
    display: inline-block;
    background-color: rgba(63, 58, 58, 0.075);
  }

  .signin-btn{
    padding: 5px;
  }
  .signin-btn button{
    padding: 10px;
    width: 150px;
  }
  .text-pwd{
      float: right;
      color: rgb(223, 215, 215);
  }