.modal{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 5;
    background-color:white;
}

.modal-form{
    padding: 20px;
    border: 1px solid rgb(218, 214, 214);
    border-radius: 10px;
    height: 500px;
    width: 650px;
}
.close-icon{
    height: 15px;
    width: 15px;
    float: right;
}
.modal-form .text {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight: bold;
    margin-top:0px;
}
h3:after{
    background-color: white;
}

.modal .title {
    padding-bottom: 10px;
}
.title input{
    height: 40px;
}
.description{
    padding-bottom: 10px;
}
.description textarea{
    margin-top:5px;
    width: 100%;
    background-color: rgb(238, 232, 232);
    border: 1px solid rgb(238, 232, 232);
    border-radius: 5px;
    height: 120px;
}
.upload{
    padding-bottom: 10px;
}
#file-chosen {
  margin-top: 5px;
  width: 100%;
  background-color: rgb(238, 232, 232);
  border: 1px solid rgb(238, 232, 232);
  border-radius: 5px;
  height: 35px;
  text-align: center;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: center;
  padding-left: 30px;
}
.browse-button {
  width: 15%;
  height: 34px;
  padding: 0px;
  border: 1px solid black;
  color: white;
  background-color: black;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
}
.upload .support-text{
    font-size: x-small;
    color: rgb(170, 164, 164);
    font-weight: normal;
    padding-left:10px ;
}

label{
    font-weight: bold;
}
.modal input {
    margin-top:5px;
    width: 100%;
    background-color: rgb(238, 232, 232);
    border: 1px solid rgb(238, 232, 232);
    border-radius: 5px;
}


.add-btn button{
    margin-top: 30px;
    height: 30px;
    width: 150px;
    float: right;
    padding: 0px;
    color: white;
    border: rgb(233, 86, 29);
    background-color:rgb(233, 86, 29);
}
