.container {
  max-width: 598px;
  background: white;
  display: flex;
  padding: 1.5em;
  flex-direction: column;
}
.top-part {
  display: flex;
  align-items: center;
  height: 4em;
  flex-direction: row;
}
.profile-picture {
  margin-right: 1em;
  display: inline;
  /* margin: 0 auto; */
  width: 40px;
  justify-content: flex-start;
}
.circle-mask {
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
  margin: auto;
}
.circle > img {
  display: inline;
  margin: 0 auto;
  max-width: 150px;
}
.user-photo {
  display: inline;
  margin: 0 auto;
  width: 40px;
  justify-content: flex-start;
}
.user-info {
  align-items: flex-start;
}
.user-name {
  font-weight: bold;
  font-size: medium;
  overflow: hidden;
  min-height: 1em;
  max-height: 2.5em;
}
.input-part {
  margin-top: 0.5em;
  align-items: center;
  display: flex;
  flex-direction: row;
}
.input-part textarea {
  border-radius: 5px;
  border: 1px solid #9A9A9A;
  align-items: flex-end;
  height: 120px;
  /* margin: auto; */
  min-width: 570px;
 }
.button-part {
  display: flex;
  justify-content: flex-end;
  margin-top: 0.5em;
}
