.homepage-slogan{
  height: 63vh;
  width: 100vw;
  text-align: center;
  align-items: center;
  color: white;
  padding-top: 110px;
  z-index: 2;
}

.homepage-slogan:nth-of-type(1){
  background-color:  #6236FF;
  background-image: url("../../assets/images/portraits/homeimage.png");
  background-repeat: no-repeat;
  background-blend-mode: soft-light;
  background-position: center;
  /* position: absolute; */
}

/* .homepage-slogan:nth-of-type(1):after{
  content: "";
  position: absolute;
  z-index: 1;
} */
 
/* .homepage-slogan{
  height: 63vh;
  background-color:  #6236FF;
  background-image: url("../../assets/images/portraits/hoomeimage.png");
  background-size:cover ;
  background-blend-mode: soft-light;
} */

/* .homepage-slogan h2{
  width: 70%;
  display: inline-block;
  margin-left: 20%;
  align-content: center; 
  }

  .homepage-slogan p
{
  width: 70%;
  display: inline-block;
  margin-left: 30%;
  align-content: center;
}

.homepage-slogan .button
{
    margin-left: 40%;
    margin-bottom: 100px;

} */