.btn-Linkedin {
  margin-left: 180px;
  font-style: normal;
  font-size: 12px;
  line-height: 20px;
  height: 40px;
  width: 200px;
  color: white;
  background-color: #0676f2;
}
.btn-account {
  margin-left: 200px;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 20px;
  height: 50px;
  width: 200px;
  background-color: #da532c;
}

input[type='email'],
input[type='text'],
input[type='password'],
input[type='url'] {
  width: 100%;
  padding: 10px 22px;
  margin: 10px 0px;
  box-sizing: border-box;
  border: 2px solid #f8f0f4;
  display: inline-block;
  background-color: rgba(63, 58, 58, 0.075);
}

form {
  background: color 0;
  height: 600px;
  width: 600px;
  margin-right: auto;
  margin-left: auto;
  margin-top: 0px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding: 0px;
}
label {
  font-family: Georgia, Times, serif;
  font-size: 14px;

  margin-top: 10px;
  margin-left: 5px;
  text-align: right;
}

input[type='checkbox'] {
  text-decoration: none;
  font-size: 8px;
}
h2,
h3 {
  text-align: center;
}
h3 {
  border-left: 270px solid hsl(240, 15%, 92%);
  border-right: 300px solid #e6e5ee;
  line-height: 1px;
  color: #a17272;
  margin-top: 40px;
}

.label-checkbox {
  display: flex;
  font-size: 10px;
}
.validation {
  width: 700px;
  border: 0px solid rgb(250, 252, 250);
  padding: 80px;
  margin: 10px;
  text-align: center;
  color: red;
  margin-top: -250px;
}

@media screen and (max-width: 750px) {
  form {
    background: color 0;
    height: 600px;
    width: 350px;
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 0px;
  }
  .btn-Linkedin {
    margin-left: 5px;
    font-style: normal;
    font-size: 14px;
    line-height: 20px;
    height: 40px;
    width: 150px;
    background-color: #007bff;
  }
  h2,
  h3 {
    text-align: left;
  }
  .btn-account {
    margin-left: 10px;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    height: 50px;
    width: 200px;
    background-color: #da532c;
  }
  .label-checkbox {
    font-size: 9px;
    text-justify: left;
    margin-left: 10px;
    margin-right: 80px;
  }
}
