.review-section {
  max-width: 600px;
  display: flex;
  padding: 1.5em;
}
.profile-image {
  width: 140px;
  height: 100px;
}
.profile-image img {
  display: inline;
  width: 100px;
  height: 100px;
  justify-content: flex-start;
  border-radius: 50%;
}

#description {
  border: none;
  text-align: justify;
  text-justify: inter-word;
}
.name-date {
  display: flex;
}
.name {
  font-weight: bold;
  margin-right: 15px;
}
.date-time {
  color: gray;
}
.title-text{
  margin-left: 25px;
}
