.review-section {
  max-width: 600px;
  display: flex;
  padding: 1.5em;
  
}

.profile-image>img {
  margin-top: 0px;
  height: 150px;
  clip-path: circle();
}

#description {
  border: none;
  text-align: justify;
  text-justify: inter-word;
}
.name-date {
  display: flex;
  margin-left: 10px;
}
.name {
  font-weight: bold;
  margin-right: 15px;
}
.date-time {
  color:#9A9A9A;
}
.title-text{
  display: block;
  margin-left: 25px;
  }
  