.button {
  border: none;
  text-align: center;
  text-decoration: none;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
  padding: 9px 30px;
  width: max-content;
  font-weight: 500;
}

.secondary .button {
  background-color: #0676f2;
  color: white;
}
